PORT=5001
MONGODB_URI=mongodb+srv://avinroy001_db_user:HWQrOcYYlWfE4ugb@cluster0.izsdvii.mongodb.net/kp_enterprises?retryWrites=true&w=majority&appName=Cluster0
FRONTEND_ORIGIN=https://kpenterprises.org,http://localhost:5173
